### 7. 판다스(Pandas)

In [1]:
import pandas as pd
X1 = pd.Series([0.1, 0.2, 0.3, 0.4], index = ['a', 'b', 'c', 'd'])  # 1-d tensor
                # pandas는 행렬에 index를 부여할 수 있음. numpy와 다른 점. 
print(X1)

a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64

In [2]:
print(X1.index)
print(X1.values)

Index(['a', 'b', 'c', 'd'], dtype='object')
[0.1 0.2 0.3 0.4]

In [3]:
print(X1['a':'c'])  # index 얘는 'a'부터 'c'까지  (c를 포함하네)
print(X1[0:3])  # 얘는 0, 1, 2

a    0.1
b    0.2
c    0.3
dtype: float64
a    0.1
b    0.2
c    0.3
dtype: float64

In [4]:
# Series와 DataFrame
population1 = {'서울' : 9700000, 
               '부산' : 4500000, 
               '인천' : 4000000, 
               '광주' : 2000000, 
               '대구' : 2500000}  # 딕셔너리 
popu = pd.Series(population1)
print(popu)   # dictonary -> series 
print(popu.ndim)

서울    9700000
부산    4500000
인천    4000000
광주    2000000
대구    2500000
dtype: int64
1

In [5]:
X2 = pd.DataFrame([[1, 2, 3], 
                   [4, 5, 6], 
                   [7, 8, 9]], columns = ['a', 'b', 'c'], index = [1, 2, 3])
print(X2)  # index를 행으로 보고, columns는 열

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

In [6]:
pd.DataFrame(popu, columns = ['pop'])

        pop
서울  9700000
부산  4500000
인천  4000000
광주  2000000
대구  2500000

In [7]:
ind1 = {'서울' : 95, 
        '부산' : 80, 
        '인천' : 85, 
        '광주' : 75, 
        '대구' : 80}    # dictionary
print(ind1)
ind = pd.Series(ind1)   # dictionary를 series로 변환
print(ind)

{'서울': 95, '부산': 80, '인천': 85, '광주': 75, '대구': 80}
서울    95
부산    80
인천    85
광주    75
대구    80
dtype: int64

In [8]:
y = pd.DataFrame({'pop' : popu, '자립도(%)' : ind})  # 자동으로 같은 이름으로 엮이나보다 
print(y)

        pop  자립도(%)
서울  9700000      95
부산  4500000      80
인천  4000000      85
광주  2000000      75
대구  2500000      80

In [9]:
print(y['자립도(%)'])  # y에서 자립도 부분만 뺌 
print("---------------------")
print(y['부산':'광주'])

서울    95
부산    80
인천    85
광주    75
대구    80
Name: 자립도(%), dtype: int64
---------------------
        pop  자립도(%)
부산  4500000      80
인천  4000000      85
광주  2000000      75

In [10]:
import pandas as pd
import numpy as np

W = pd.DataFrame(np.arange(12).reshape(-1, 4), columns = ['a', 'b', 'c', 'd'])
print(W)
print("---------------------")
np.random.shuffle(W.values)  # 행 순서를 shuffling? 
print(W)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
---------------------
   a  b   c   d
0  4  5   6   7
1  0  1   2   3
2  8  9  10  11

In [11]:
w1 = W.loc[:, 'b']
print(w1)
print(len(w1))  # length of w1 = 3

0    5
1    1
2    9
Name: b, dtype: int64
3

In [12]:
w22 = [0]
for i in range(1, len(w1)) :  # length(w1) = 3은 포함 안 되므로 2까지 즉, 1과 2에 대해서만 
  w11 = w1[i] - w1[i-1] 
  w22.append(w11) 
print(w22)
print('-----------------------------')
ww = pd.DataFrame(w22, columns = ['e'])
print(ww)
print('-----------------------------')
www = pd.concat([W, ww], axis = 1)  # 행을 기준으로 열을 옆으로 붙임 (r에서 cbind랑 같음)
print(www)
aa = pd.concat([W, ww], axis = 0)  # 위에랑 차이점이 어떻게 되는 지 확인 
print(aa)

[0, -4, 8]
-----------------------------
   e
0  0
1 -4
2  8
-----------------------------
   a  b   c   d  e
0  4  5   6   7  0
1  0  1   2   3 -4
2  8  9  10  11  8
     a    b     c     d    e
0  4.0  5.0   6.0   7.0  NaN
1  0.0  1.0   2.0   3.0  NaN
2  8.0  9.0  10.0  11.0  NaN
0  NaN  NaN   NaN   NaN  0.0
1  NaN  NaN   NaN   NaN -4.0
2  NaN  NaN   NaN   NaN  8.0

In [13]:
# data slicing1 : loc 
print(W)
print('-----------------------------')
print(W.loc[0:1, :])  # 0~1행까지의 자료를 ,slicing. 
                      # [a:b]는 a에서 b자리수 까지를 의미
                      # 가능한 loc를 쓰셈

   a  b   c   d
0  4  5   6   7
1  0  1   2   3
2  8  9  10  11
-----------------------------
   a  b  c  d
0  4  5  6  7
1  0  1  2  3

In [14]:
# data slicing1 : iloc   
print(W.iloc[0:1, :])  # 0행까지의 자료를 slicing 
                       # [a:b]는 a에서 b-1까지를 의미

   a  b  c  d
0  4  5  6  7

In [15]:
D1 = pd.DataFrame([[1, 2], [3, 4]], columns = ['a', 'b'])
print(D1)

   a  b
0  1  2
1  3  4

In [16]:
D2 = pd.DataFrame([[11, 22, 33], [44, 55, 66], [77, 88, 99]], 
                  columns = ['a', 'b', 'c'])
print(D2)

    a   b   c
0  11  22  33
1  44  55  66
2  77  88  99

In [17]:
print(D1 + D2)
# size가 달라도 연산이 가능함. 
# 근데 이게 같은 행/열에 있어서 가능한건지
# 아니면 행/열 이름이 같아서 가능한건지 (O)

      a     b   c
0  12.0  24.0 NaN
1  47.0  59.0 NaN
2   NaN   NaN NaN

In [18]:
test1 = pd.DataFrame([[1, 2], [3, 4]], columns = ['a', 'b'])
print(test1)
print('-------------------')
test2 = pd.DataFrame([[3, 4, 5], [5, 6, 7], [6, 7, 8]], columns = ['c', 'd', 'f'])
print(test2)
print('-------------------')
sum_tests = test1 + test2
print(sum_tests)

# 열 이름이 다르니까 더해지지 않네

   a  b
0  1  2
1  3  4
-------------------
   c  d  f
0  3  4  5
1  5  6  7
2  6  7  8
-------------------
    a   b   c   d   f
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN

In [19]:
print(D1)
print(D2)
print(D1 - D2) 
print(D1 / D2)
print(D1 * D2)
print(D2 * D1)
print(D2 % D1)  # 나머지 
print(D2 // D1)  # 몫

   a  b
0  1  2
1  3  4
    a   b   c
0  11  22  33
1  44  55  66
2  77  88  99
      a     b   c
0 -10.0 -20.0 NaN
1 -41.0 -51.0 NaN
2   NaN   NaN NaN
          a         b   c
0  0.090909  0.090909 NaN
1  0.068182  0.072727 NaN
2       NaN       NaN NaN
       a      b   c
0   11.0   44.0 NaN
1  132.0  220.0 NaN
2    NaN    NaN NaN
       a      b   c
0   11.0   44.0 NaN
1  132.0  220.0 NaN
2    NaN    NaN NaN
     a    b   c
0  0.0  0.0 NaN
1  2.0  3.0 NaN
2  NaN  NaN NaN
      a     b   c
0  11.0  11.0 NaN
1  14.0  13.0 NaN
2   NaN   NaN NaN

### 7.1  결측 자료의 처리

In [20]:
n = pd.Series([1, np.nan, 'missing', None])
print(n)
n.isnull()   # NaN과 None 값을 null값으로 인식

0          1
1        NaN
2    missing
3       None
dtype: object

0    False
1     True
2    False
3     True
dtype: bool

In [21]:
n[n.notnull()]  # 결측값이 없는 곳만 출력

0          1
2    missing
dtype: object

In [22]:
n.fillna(0) # 결측값을 0으로 대체

0          1
1          0
2    missing
3          0
dtype: object

In [23]:
m = pd.DataFrame([[1, None, 2, None], 
                  [4, 5, 6, None], 
                  [None, 7, 8, None]], 
                 index = list('123'), columns = list('abcd'))
print(list('123'))
print(list('abcd'))
print(m)

['1', '2', '3']
['a', 'b', 'c', 'd']
     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None

In [24]:
print(m.dropna(axis = 'columns', how = 'all')) # 각 열을 기준으로 모두 결측값이면 drop함. 
print(m.dropna(axis = 1, how = 'all'))  # column <=> axis = 1
print('------------------------------')
print(m.dropna(axis = 0, thresh = 3))  # 3개 이상의 non-missing value를 가지고 있으면 남김 
                                       # 2개 이하의 missing value를 가지고 있으면 버림

     a    b  c
1  1.0  NaN  2
2  4.0  5.0  6
3  NaN  7.0  8
     a    b  c
1  1.0  NaN  2
2  4.0  5.0  6
3  NaN  7.0  8
------------------------------
     a    b  c     d
2  4.0  5.0  6  None

In [25]:
print(m)
print(m.fillna(method = 'bfill', axis = 1))  # axis = 1: across column (행별로)
                                             # bfill : nan을 그 바로 뒤(backward)의 값으로 채움
print('---------------------------------')
print(m)
print(m.fillna(method = "ffill", axis = 1))  # ffill : nan을 그 바로 앞(forward)의 값으로 채움
print('---------------------------------')
print(m)
print(m.fillna(method = "bfill", axis = 0))  # axis = 0 : across row (열별로)
print('---------------------------------')
print(m)
print(m.fillna(method = "ffill", axis = 0))

     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
     a    b    c   d
1  1.0  2.0  2.0 NaN
2  4.0  5.0  6.0 NaN
3  7.0  7.0  8.0 NaN
---------------------------------
     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
     a    b    c    d
1  1.0  1.0  2.0  2.0
2  4.0  5.0  6.0  6.0
3  NaN  7.0  8.0  8.0
---------------------------------
     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
     a    b  c     d
1  1.0  5.0  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
---------------------------------
     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  NaN  7.0  8  None
     a    b  c     d
1  1.0  NaN  2  None
2  4.0  5.0  6  None
3  4.0  7.0  8  None

### 7.2 논리적 인덱스

In [26]:
x = pd.DataFrame([[1, None, 2, None], 
                  [3, 4, 5, None], 
                  [None, 6, 7, None]], index = list('123'), columns = list('abcd'))
print(x, 'dimension = {0}'.format(x.ndim), sep = '\n')

     a    b  c     d
1  1.0  NaN  2  None
2  3.0  4.0  5  None
3  NaN  6.0  7  None
dimension = 2

In [27]:
x.loc['2', 'd'] = 99  # 원소값 변경
print(x)

     a    b  c     d
1  1.0  NaN  2  None
2  3.0  4.0  5    99
3  NaN  6.0  7  None

In [28]:
print(x[pd.isnull(x['b'])])   # pd.isnull(x['b']) = [T, F, F]
                              # 그래서 1행만 출력함

     a   b  c     d
1  1.0 NaN  2  None

In [29]:
#x[pd.isnull().any(axis = 1)]['b']
print(pd.isnull(x).any()) # 각 열에 대해서 (across row)
print('------------------------------')
print(pd.isnull(x).any(axis = 1)) # 각 행에 대해서 (across column)
print('------------------------------')
print(x[pd.isnull(x).any(axis = 1)])  # true인 행만 출력
print('------------------------------')
print(x[pd.isnull(x).any(axis = 1)]['b'])  # 위에서 출력한 것들 중 b열만 출력

a     True
b     True
c    False
d     True
dtype: bool
------------------------------
1     True
2    False
3     True
dtype: bool
------------------------------
     a    b  c     d
1  1.0  NaN  2  None
3  NaN  6.0  7  None
------------------------------
1    NaN
3    6.0
Name: b, dtype: float64

In [30]:
x.loc[pd.isnull(x).any(axis = 1), 'b']  # 위의 맨 마지막 결과와 똑같음

1    NaN
3    6.0
Name: b, dtype: float64

In [31]:
x[pd.isnull(x).any(axis = 1), 'b']  # 이건 error 발생함 
                                    # numpy에서의 행렬이랑 잘 비교하기 ★★★★★

TypeError: ignored

In [32]:
k = pd.DataFrame(np.arange(12).reshape(-1, 4), columns = list('abcd'))
print(k)

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [33]:
print(k['b'])
print('-------------------------')
print(k['b'] > 4)
print('-------------------------')
print(k.loc[k['b'] > 4])  # 1, 2 행만 출력 
print('-------------------------')
print(k.loc[k['b'] > 4]['c'])   # 1, 2행 중 c열

0    1
1    5
2    9
Name: b, dtype: int64
-------------------------
0    False
1     True
2     True
Name: b, dtype: bool
-------------------------
   a  b   c   d
1  4  5   6   7
2  8  9  10  11
-------------------------
1     6
2    10
Name: c, dtype: int64

In [34]:
print(k.loc[k['b'] > 4 , 'c'])   # 위의 맨 마지막 결과와 같음.

1     6
2    10
Name: c, dtype: int64

In [35]:
print(k.loc[k['b'] > 4, ['b', 'c']])   # 뽑고 싶은 행이 두 개면 loc로 안에 넣어서 써야함. 
                                       # 위에처럼 x[][] 이런 꼴로 하면 에러 뜸

   b   c
1  5   6
2  9  10

In [36]:
print(k.loc[k['b']> 4]['b', 'c'])  # 에러 뜨는 거 확인

KeyError: ignored

In [37]:
p = pd.DataFrame(np.arange(6).reshape(2, 3), 
                 index = list('ab'), columns = list('123'))
print(p)

   1  2  3
a  0  1  2
b  3  4  5

In [38]:
print(p.stack())   # 행 - 열1, 2, 3 순으로 자료 재정리

a  1    0
   2    1
   3    2
b  1    3
   2    4
   3    5
dtype: int64

In [39]:
print(p.stack().unstack())  # 다시 원래대로

   1  2  3
a  0  1  2
b  3  4  5

### 7.3 Data 붙이기

SQL에 해당되는 것. (?) \\
manipulation. \\
연구목적 => 어떠한 기법 => 데이터 찾기 => 데이터 전처리 => sql, etc.

In [40]:
q1 = pd.DataFrame( [[1, 2, 3], [4, 5, 6]], columns = list('abc'))
q2 = pd.DataFrame([[11, 22, 33], [44, 55, 66]],columns = list('bcd'))
print(q1)
print(q2)

   a  b  c
0  1  2  3
1  4  5  6
    b   c   d
0  11  22  33
1  44  55  66

In [41]:
# 밑으로 붙이기 
print(pd.concat([q1, q2]))  # 원래의 인덱스를 가지고 출력됨
# np에서는 concatenate, pd에서는 concat
print('-----------------------------')
print(pd.concat([q1, q2], ignore_index = True ))  # 인덱스가 데이터에 대해서 다시 맞춰서 출력됨 
print('-----------------------------')
print(pd.concat([q1, q2], join = 'inner'))   # 공통으로 가지고 있는 열만 출려됨

     a   b   c     d
0  1.0   2   3   NaN
1  4.0   5   6   NaN
0  NaN  11  22  33.0
1  NaN  44  55  66.0
-----------------------------
     a   b   c     d
0  1.0   2   3   NaN
1  4.0   5   6   NaN
2  NaN  11  22  33.0
3  NaN  44  55  66.0
-----------------------------
    b   c
0   2   3
1   5   6
0  11  22
1  44  55

In [42]:
# 옆으로 붙이기 
import pandas as pd
r1 = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns = list('abc'))
r2 = pd.DataFrame([[11, 22], [33, 44]], columns = list('de'))
print(r1, r2, sep = "\n")
r3 = pd.concat([r1, r2], axis = 1)  # column으로 부착. 
print(r3)

   a  b  c
0  1  2  3
1  4  5  6
    d   e
0  11  22
1  33  44
   a  b  c   d   e
0  1  2  3  11  22
1  4  5  6  33  44

In [43]:
# 공통된 열이 있을 때의 옆으로 붙이기
s1 = pd.DataFrame([[1, 'aa', 3], [4, 'bb', 5]], columns = list('abc'))
s2 = pd.DataFrame([[11, 'bb'], [22, 'aa']], columns = list('db'))
print(s1)
print(s2)
s3 = pd.merge(s1, s2, on = 'b')  # b열을 기준으로 옆으로 붙임. 
                                 # 그에 따라 d열의 원소의 위치도 바뀜
                                 # 그럼 값이 다르다면? 
print('---------------------------------')
print(s3)
print('---------------------------------')
s4 = pd.DataFrame([['aa', 44], ['cc', 55]], columns = list('bd'))
print(s4)
print('---------------------------------')
s5 = pd.merge(s1, s4, on = "b")
print(s5)    # 값이 다른 경우에는 없앰

   a   b  c
0  1  aa  3
1  4  bb  5
    d   b
0  11  bb
1  22  aa
---------------------------------
   a   b  c   d
0  1  aa  3  22
1  4  bb  5  11
---------------------------------
    b   d
0  aa  44
1  cc  55
---------------------------------
   a   b  c   d
0  1  aa  3  44

In [44]:
# 공통된 열이 있을 때의 옆으로 붙이기 : 공통 열에 반복이 있는 경우. 
s11 = pd.DataFrame([[1, 'aa', 3], [4, 'bb', 5], [6, 'aa', 7]], columns = list('abc'))
s21 = pd.DataFrame([[11, 'bb'], [22, 'aa'], [33, 'bb']], columns = list('db'))
print(s11)
print(s21)
print('-----------------------------')
s31 = pd.merge(s11, s21, on = 'b')
print(s31)    # 헷갈림 ★★★★★

   a   b  c
0  1  aa  3
1  4  bb  5
2  6  aa  7
    d   b
0  11  bb
1  22  aa
2  33  bb
-----------------------------
   a   b  c   d
0  1  aa  3  22
1  6  aa  7  22
2  4  bb  5  11
3  4  bb  5  33

In [45]:
# 공통된 열이 있을 때의 옆으로 붙이기 : 공통 열 이외의 열에 반복이 있는 경우
s12 = pd.DataFrame([['aa', 3], ['bb', 5], ['aa', 7]], columns = list('ab'))
s22 = pd.DataFrame([[11, 'bb'], [22, 'aa']], columns = list('ba'))
print(s12)
print(s22)
print('-----------------------------')
s32 = pd.merge(s12, s22, on = 'a')
print(s32)

    a  b
0  aa  3
1  bb  5
2  aa  7
    b   a
0  11  bb
1  22  aa
-----------------------------
    a  b_x  b_y
0  aa    3   22
1  aa    7   22
2  bb    5   11

In [46]:
# 공통된 열이 있을 때의 옆으로 붙이기 : 공통 열의 이름이 다른 경우
u1 = pd.DataFrame([[1, 'aa', 3], [4, 'bb', 5]], columns = list('abc'))
u2 = pd.DataFrame([[11, 'bb'], [22, 'aa']], columns = list('de'))
print(u1)
print(u2)
print('-----------------------')
u3 = pd.merge(u1, u2, left_on = 'b', right_on = 'e')  # 같은 원소끼리 맞추긴 하는데 열 다 붙여서 출력함 
print(u3)
print('-----------------------')
u4 = pd.merge(u1, u2, left_on = 'b', right_on = 'e').drop('e', axis = 1)  # e열 제거 
print(u4)

   a   b  c
0  1  aa  3
1  4  bb  5
    d   e
0  11  bb
1  22  aa
-----------------------
   a   b  c   d   e
0  1  aa  3  22  aa
1  4  bb  5  11  bb
-----------------------
   a   b  c   d
0  1  aa  3  22
1  4  bb  5  11

In [47]:
v1 = pd.DataFrame([[1, 'aa', 3], [4, 'bb', 5]], columns = list('abc'))
v2 = pd.DataFrame([[11, 'cc'], [22, 'aa']], columns = list('db'))
print(v1)
print('------------------------')
print(v2)

   a   b  c
0  1  aa  3
1  4  bb  5
------------------------
    d   b
0  11  cc
1  22  aa

In [48]:
v3 = pd.merge(v1, v2, how = 'inner')
print(v3)
print('---------------------------------')
v3_1 = pd.merge(v1, v2, on = "b")
print(v3_1)   # 위에랑 똑같이 나온다
print('----------------------------------')
v4 = pd.merge(v1, v2, how = 'outer')
print(v4)
print('----------------------------------')
v5 = pd.merge(v1, v2, how = 'left')   # v1을 기준으로, 공통 열이 있는 v2의 행만 옆으로 붙임. 
print(v5)

   a   b  c   d
0  1  aa  3  22
---------------------------------
   a   b  c   d
0  1  aa  3  22
----------------------------------
     a   b    c     d
0  1.0  aa  3.0  22.0
1  4.0  bb  5.0   NaN
2  NaN  cc  NaN  11.0
----------------------------------
   a   b  c     d
0  1  aa  3  22.0
1  4  bb  5   NaN

In [49]:
import numpy as np
rng = np.random.RandomState(1)   # 이건 뭐지 seed number랑 비슷한 건가
dset = pd.DataFrame( {'ID' : ['A', 'B', 'C', 'A', 'B', 'C'], 
                      'x1' : range(6), 
                      'x2' : rng.randint(0, 10, 6)} )   
# dataframe에서 dictionary의 key에 list데이터가 연결 
print(dset)
type(dset)

  ID  x1  x2
0  A   0   5
1  B   1   8
2  C   2   9
3  A   3   5
4  B   4   0
5  C   5   0

pandas.core.frame.DataFrame

In [50]:
print(dset.groupby('ID').mean())  # id 그룹마다의 평균 출력

     x1   x2
ID
A   1.5  5.0
B   2.5  4.0
C   3.5  4.5

In [51]:
print(dset.groupby('ID').std())

         x1        x2
ID
A   2.12132  0.000000
B   2.12132  5.656854
C   2.12132  6.363961

In [52]:
# 여러가지 통계량 한번에 구하기 
print(dset.groupby('ID').aggregate([min, max, np.mean, np.median, np.std]))

    x1                           x2
   min max mean median      std min max mean median       std
ID
A    0   3  1.5    1.5  2.12132   5   5  5.0    5.0  0.000000
B    1   4  2.5    2.5  2.12132   0   8  4.0    4.0  5.656854
C    2   5  3.5    3.5  2.12132   0   9  4.5    4.5  6.363961

In [53]:
# 기초통계량 구하기 
print(dset.groupby('ID')['x1'].describe())    # pandas의 describe함수 이용

    count  mean      std  min   25%  50%   75%  max
ID
A     2.0   1.5  2.12132  0.0  0.75  1.5  2.25  3.0
B     2.0   2.5  2.12132  1.0  1.75  2.5  3.25  4.0
C     2.0   3.5  2.12132  2.0  2.75  3.5  4.25  5.0

In [54]:
import pandas as np
df = pd.DataFrame([[1, 3, 5], [2, 4, 6]], index = ['a1', 'a2'], columns = ['b1', 'b2', 'b3'])
df

    b1  b2  b3
a1   1   3   5
a2   2   4   6

In [55]:
df.to_excel('df1.xlsx', sheet_name = 'data')

In [56]:
df1 = pd.read_excel('df1.xlsx', sheet_name = 'data', 
                    index_col = 0, header = 0)
df2 = pd.read_excel('df1.xlsx', sheet_name = 'data', 
                    index_col = None, header = None)
print(df1)
print('-----------------------------')
print(df2)

    b1  b2  b3
a1   1   3   5
a2   2   4   6
-----------------------------
     0   1   2   3
0  NaN  b1  b2  b3
1   a1   1   3   5
2   a2   2   4   6

In [57]:
df.to_csv('out.csv')   # 이건 어떤 함수?????????????? 
df3 = pd.read_csv('out.csv', index_col = 0, header = 0)
print(df3)
print('----------------------------')
df4 = pd.read_csv('out.csv', index_col = None, header = None)
print(df4)

    b1  b2  b3
a1   1   3   5
a2   2   4   6
----------------------------
     0   1   2   3
0  NaN  b1  b2  b3
1   a1   1   3   5
2   a2   2   4   6

In [58]:
df5 = df3.reset_index(drop = True)
print(df5)
print('----------------------------')
df6 = df5.T.reset_index(drop = True).T   # T는 뭐지? ★★★★★
                                         # index가 행 이름만 삭제시키나봄 
                                         # 이거 아마 df5에서 index (행 이름) 삭제된 거 가지고
                                         # transpose해서 행 지우고, 다시 transpose한거인듯. 
print(df6)
print('------------------------------')
df_t = df.T
print(df_t)
print('------------------------------')
df7 = df3.values
print(df7)

   b1  b2  b3
0   1   3   5
1   2   4   6
----------------------------
   0  1  2
0  1  3  5
1  2  4  6
------------------------------
    a1  a2
b1   1   2
b2   3   4
b3   5   6
------------------------------
[[1 3 5]
 [2 4 6]]

In [59]:
text = open('aa.txt', 'w')
text.close()

In [60]:
text = open('aa.txt', 'w')
for i in range(10) :
  data = ("Player%d.\n" %i)
  text.write(data)
text.close()

In [61]:
# file 한 줄씩 읽기 
text = open('aa.txt', 'r')   # open 했으면 
line = text.readline()
print(line)
text.close()   # 무조건 close해야함

Player0.

In [62]:
# file 전체 읽기
text = open('aa.txt', 'r')
data = text.read()
print(data)
text.close()

Player0.
Player1.
Player2.
Player3.
Player4.
Player5.
Player6.
Player7.
Player8.
Player9.

In [63]:
# 기존 file에 데이터 추가
text = open('aa.txt', 'a')  # a: add
for i in range(10, 12) :
  data = ('Player%d.\n' %i)
  text.write(data)
text.close()

In [64]:
# close 자동으로 하기
with open('aa.txt', 'a') as text :  # with으로 하면 됨 
  for i in range(12, 16) :
    data = ("write%d.\n" % i)
    text.write(data)

In [65]:
# file 확인
text = open('aa.txt', 'r')
data = text.read()
print(data)
text.close()

Player0.
Player1.
Player2.
Player3.
Player4.
Player5.
Player6.
Player7.
Player8.
Player9.
Player10.
Player11.
write12.
write13.
write14.
write15.