<a href="https://colab.research.google.com/github/Soy-code/ML_w_python/blob/master/Understanding_Python(1~5)_HSY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 이해

### 1. python의 구문

In [1]:
print("welcome to python.")
print("It is fun learning Python.")
print("welcome to Python") ; print("It is func learning Python.")

welcome to python.
It is fun learning Python.
welcome to Python
It is func learning Python.

In [2]:
# 줄 바꾸기
sum = 10 + 20 + \
      30 + 40 + \
      30

sum

130

In [3]:
# 블록(Block), 들여쓰기(Indentation)
if 10 > 3: 
  print("This is inside block")
  
print("This is outside of block")

This is inside block
This is outside of block

### 2. 변수와 자료형태

In [4]:
# 변수의 입력
name = "Mike"
age = 15
score = 102.5
passed = True

print(type(age))
print(type(name))
print(type(score))
print(type(passed))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [5]:
# List 
cars = ["Honda", "Toyota", 2002, 2015]
print(len(cars))

4

In [6]:
colors = ['red', 'green', 'white', 'yellow']
nums = list(range(10))
print(nums)
nums_1 = list(range(50, 101))
print(nums_1)
len(nums_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

51

In [7]:
print(colors[-4])
print(colors[-1]) # 오른쪽 맨 끝부터는 -1부터 시작함

red
yellow

In [8]:
# 편집(일부 원소 접근)
print(colors)
colors_1 = colors[:2] # colors[0] - colors[2-1]
print(colors_1)
colors_2 = colors[-2:] # colors[4-2+1] - colors[4]
print(colors_2)
colors_3 = colors[1:3] # colors[1] - colors[3-1]
print(colors_3)

['red', 'green', 'white', 'yellow']
['red', 'green']
['white', 'yellow']
['green', 'white']

In [9]:
# 행렬
data = [[1, 15, 20, 36], [41, 20, 54, 47], [75, 46, 68, 2]] 
print(data)
data_1 = data[1] 
print(data_1)
data_2 = data[1][2]
print(data_2)

[[1, 15, 20, 36], [41, 20, 54, 47], [75, 46, 68, 2]]
[41, 20, 54, 47]
54

In [10]:
colors = ['blue', 'white', 'yellow', 'red', 'black']
colors.append('orange')  # 추가하기
print(colors)
colors.remove('white') # 제거하기
print(colors)
colors.sort()
print(colors)  # alphabet order

['blue', 'white', 'yellow', 'red', 'black', 'orange']
['blue', 'yellow', 'red', 'black', 'orange']
['black', 'blue', 'orange', 'red', 'yellow']

In [11]:
# Tuple 
abc_1 = ['a', 'b', 'c', 'd']
abc_1[2] = 'p'
print(abc_1)

['a', 'b', 'p', 'd']

In [12]:
abc_2 = ('a', 'b', 'c', 'd')
abc_2[2] = 'p'   # 튜플은 못 고침

TypeError: ignored

In [13]:
print(abc_2)

('a', 'b', 'c', 'd')

In [14]:
# 짝짓기
name = 'A', 'B', 'C'   # 이것도 튜플의 형태
type(name)
K_1, K_2, K_3 = name  # 각 변수에 name의 각 원소를 할당
print(K_1) ; print(K_2) ; print(K_3)

A
B
C

In [15]:
# 스왑
a, b = 11, 22 
print(a, b)
a, b = b, a
print(a, b)

11 22
22 11

In [16]:
# dictionary (24:00)
cars = {'name' : 'kia', 'model' : 2009, 'color' : 'white'}
print(cars['name'])
print(cars.keys())
print(cars.values())
print(cars.items())

kia
dict_keys(['name', 'model', 'color'])
dict_values(['kia', 2009, 'white'])
dict_items([('name', 'kia'), ('model', 2009), ('color', 'white')])

In [17]:
cars['capacity'] = 1500 # 추가하는 것
print(cars)
cars['model'] = 2020  # 변경
print(cars)
del cars['model'] # 제거
print(cars)

{'name': 'kia', 'model': 2009, 'color': 'white', 'capacity': 1500}
{'name': 'kia', 'model': 2020, 'color': 'white', 'capacity': 1500}
{'name': 'kia', 'color': 'white', 'capacity': 1500}

### 3. Python의 연산

In [18]:
# 산술연산
n1 = 10
n2 = 5
print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 / n2)
print(n1 // n2)  # 나누고 몫
print(n1 % n2)   # 나누고 나머지 
print(n1 **  n2)  # n1^{n2}

15
5
50
2.0
2
0
100000

In [19]:
# 논리연산
n1 = True 
n2 = False
print(n1 and n2)  # 교집합 
print(n1 or n2)  # 합집합
print(not(n1 and n2)) # 차집합

False
True
True

In [20]:
  # 비교연산
  n1 = 10
  n2 = 5
  print(n1 == n2)
  print(n1 != n2)  # not equal
  print(n1 > n2)
  print(n1 >= n2)
  print(n1 < n2)
  print(n1 <= n2)

False
True
True
True
False
False

In [21]:
# 할당연산
n1 = 10 ; n2 = 5
R = n1 + n2 ; print(R)
n1 = 10 ; n2 = 5
n1 += n2 ; print(n1)  # n1에다가 할당하는 것임. 그럼 이제 n1이 그 값을 가짐
n1 = 10 ; n2 = 5
n1 -= n2 ; print(n1)  
n1 = 10 ; n2 = 5
n1 /= n2 ; print(n1)  # n1에다가 나누기 n2 그럼 이제 n1이 그 값을 가짐
n1 = 10 ; n2 = 5
n1 *= n2 ; print(n1)
n1 = 10 ; n2 = 5
n1 **= n2 ; print(n1)

15
15
5
2.0
50
100000

In [22]:
# 존재 연산
cars = ['Hyundai', 'Kia', 'Audi', 'Benz', 'Honda']  # 리스트 생성
print('Hyundai' in cars)
print('BMW' in cars)
print('BMW' not in cars)

True
False
True

### 4. 조건문과 반복문

In [23]:
# 조건문과 반복문
n1 = 10
n2 = 5
if n1 > n2 :
  print("n1 is greater than n2")
else :
    print("n1 is less than n2")

n1 is greater than n2

In [24]:
# 조건에 논리연산자 사용
n1 = 10 ; n2 = 20 ; n3 = 30 
if n2 < n1 or n2 < n3 :
  print('n2 < n2 or n2 < n3')

n2 < n2 or n2 < n3

In [25]:
# 중첩된 if 문
if n2 > n1 :
  if n2 > n3 : 
    print('n2 > n1 and n3 > n2')
  else : 
    print('testing')

testing

In [26]:
# if/else 문
if n1 > n2 : 
  print('n1 > n2')
else :
  print('n2 > n1')

n2 > n1

In [27]:
# if/elif/else
n1 = 10
n2 = 20
n3 = 30

if n1 > n2 :
  print('n1 > n2')
elif n2 > n3 : 
  print('n2 > n3')
elif n3 > n2 :
  print('n3 > n2')
else : 
  print("none of the conditions is satisfied.")

n3 > n2

In [28]:
# 반복문
cars = ['AB', 'CD', 'EF', 'GH']
for car in cars :
  print(car)

AB
CD
EF
GH

In [29]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range(50, 55) :
  print(i)

50
51
52
53
54

In [31]:
for c in "Hello world" :
  print(c)

H
e
l
l
o

w
o
r
l
d

In [32]:
# while문
i = 1
while i < 5 :
  print(i)
  i += 1  # i에 1 더하는 걸 할당

1
2
3
4

In [33]:
i = 1
while i < 10 :
  print('9x' + str(i) + '=' + str(i*9))  # print로도 이렇게 문자 쓸 수 있음. 
  i += 1

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [34]:
i = 1
while i < 10 :
  print('3 x ' + str(i) + " = " + str(i*3))
  i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [35]:
stop = 0
while 1 : # is equivalent to while true
  print("infinite loop")
  stop += 1
  if stop > 5 :
    break

infinite loop
infinite loop
infinite loop
infinite loop
infinite loop
infinite loop

In [36]:
# break : 반복문을 벗어날 때
for i in range(1, 11) :
  if i > 5 :
    break
  print(i)

1
2
3
4
5

In [37]:
# continue : 반복문 내에서 다음 iteration 으로 바로 건너 뛸 때
for i in range(1, 11) :
  if (i % 2 != 0) :  # i가 2의 배수가 아닐 때
    continue   # 그냥 넘김  skip한다고 생각하면 좋음. 
  print(i)  # 2의 배수만 남기는 건가

2
4
6
8
10

In [38]:
# enumerate : list 내 자료값의 순서값이 필요할 때
player = ['John', 'Taylor', 'Ronado', 'Messi']
player_1 = list(enumerate(player, 1))  # 여기서 순서값은 1부터 시작
                                       # 여기서 1 안 쓰고 default로 가면 0부터 시작하게 됨. 
print(player_1)  # element는 tuple이고 전체 데이터 형태는 list

[(1, 'John'), (2, 'Taylor'), (3, 'Ronado'), (4, 'Messi')]

In [39]:
for num, p in enumerate(player, 1) :
  print('player number' + str(num) + ' name:', p)

player number1 name: John
player number2 name: Taylor
player number3 name: Ronado
player number4 name: Messi

In [40]:
# zip : list, tuple., dictionary간 짝짓기
cars = ['Sonata', 'Toyota', 'Ford', 'Benz', 'Kia']
nations = ['Korea', 'Japan', 'America', 'Germany']
for c, n in zip(cars, nations) :
  print( "%s is made in %s" % (c, n))

Sonata is made in Korea
Toyota is made in Japan
Ford is made in America
Benz is made in Germany

In [41]:
# format 형태가 더 쉬움 %s, %d 이것보다.. ? 
cars = ['Sonata', 'Toyota', 'Ford', 'Benz', 'Kia']
nations = ['Korea', 'Japan', 'America', 'Germany']
for c, n in zip(cars, nations) :
  print( "{0} is made in {1}".format(c, n))

Sonata is made in Korea
Toyota is made in Japan
Ford is made in America
Benz is made in Germany

In [42]:
N = 10
a = 2.543
b = 'car'
print('A typical example of data types is %d, %.2f, and %s.' % (N, a, b))

A typical example of data types is 10, 2.54, and car.

### 5. 객채지향성 프로그램

In [43]:
# 간단한 함수
def welcome():
  print("Welcome to Python")
welcome()

Welcome to Python

In [44]:
# 좀 더 복잡한 함수
def p_inf(name, age, gender) :
  print("Person name: " + name)
  print("Person name: ", name)
  print("Person age: ", age)
  print("Person gender: "+gender)
  print("-------------------------")

p_inf("James", 20, "Male")
p_inf("Suzan", 19, "Female")

Person name: James
Person name:  James
Person age:  20
Person gender: Male
-------------------------
Person name: Suzan
Person name:  Suzan
Person age:  19
Person gender: Female
-------------------------

In [45]:
# 모수를 받아서 새로운 값을 계산하여 반환하는 함수
def summ(num1, num2) : 
  result = num1 + num2 
  return result

test = summ(20, 30) 
test

50

In [46]:
def update_1(newlist) :
  newlist.append([20, 25, 30]) 
  return

uplist = [5, 10, 15]
update_1(uplist)
print(uplist)

[5, 10, 15, [20, 25, 30]]

In [47]:
x = []
for i in range(1, 10) :
  x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
samples = ['The cat sat on the mat.', 'The dog sat on the desk']
token = {}   # create dictionary
for sample in samples :
  for word in sample.split() :
    if word not in token :
      token[word] = len(token) + 1 

print(token)

{'The': 1, 'cat': 2, 'sat': 3, 'on': 4, 'the': 5, 'mat.': 6, 'dog': 7, 'desk': 8}

In [49]:
# lambda ??? 사용법 익히기
result = lambda n1, n2, n3 : n1+n2+n3
result(1, 2, 3)

6

In [50]:
# 클래스(class)
class Player : # 첫 단어는 항상 대문자로 해야함. 
  name = "John"
  age = 22
  gender = 'male'     # attributes : class의 속성

  def stand(self) :
    print('he stands')

  def run(self) : 
    print('he runs')

# print(Player())
# print(Player().name)
male_1 = Player()
player_name = male_1.name
print(player_name)
male_1.run()
male_1.stand()

John
he runs
he stands

In [51]:
# 클래스 속성(attribute)와 사례(instance) 속성
class Player : 
  person_count = 0  # 클래스 속성
  
  def infor(self, name, age, gender) :   # self는 디폴트로 넣어야 한다고 함. 
                                         # self가 의미하는 바는 class Player에 소속된 함수라는 것. 
    self.name = name    # 사례 속성
    self.age = age
    self.gender = gender

    Player.person_count += 1

    print('Information for player ' + self.name + ' has been stored.')  

player1 = Player()   # 아직 속성에 값을 할당하지 않음
player1.infor("John", 22, 'male')
print('Player count: ' + str(player1.person_count))

Information for player John has been stored.
Player count: 1

In [52]:
player2 = Player()
player2.infor('Messi', 30, 'Male')
print("Player count: " + str(player2.person_count))
print('Player count: ', player2.person_count)    # count가 어떻게 되는 거지  
# class의 속성이므로 두 번 불렀다고 해도 기억을 하기 때문에 count가 1이었고 그후로 1을 다시 더한것임.

Information for player Messi has been stored.
Player count: 2
Player count:  2

In [53]:
# 클래스를 호출하면 자동으로 사례속성을 만들어내는 방법
class Food :

  def __init__(self, name, expiry_year, expiry_month) :
    self.name = name
    self.expiry_year = expiry_year
    self.expiry_month = expiry_month

    print("Initialized instance variables.")

  def expiry_date(self) :
    print("The expiration date is " + str(self.expiry_month) + \
          '/' + str(self.expiry_year))
    

food_1 = Food("Pizza", 2018, 12)  # class에다가 바로 넣어줄 수 있음. 함수를 불러들일 필요 없고
food_1.expiry_date()

Initialized instance variables.
The expiration date is 12/2018

In [54]:
food_2 = Food("Bread", 2019, 20)
food_2.expiry_date()  # 20개월은 없으므로 이를 위한 error방지해야함.

Initialized instance variables.
The expiration date is 20/2019

In [55]:
# 클래스 내에서 속성 제어 (property, setter)

class Food : 

  def __init__(self, name, expiry_year, expiry_month):
    self.name = name
    self.expiry_year = expiry_year
    self.expiry_month = expiry_month

    print("Initialized instance variables.")

  @property # 이건 머지
  def expiry_month(self) :
        return self.__expiry_month

  @expiry_month.setter
  def expiry_month(self, expiry_month) : 
        if expiry_month < 1 : 
           self.__expiry_month = 1
        elif expiry_month > 12 :
           self.__expiry_month = 12
        else : 
           self.__expiry_month = expiry_month 

  def expiry_date(self) :
        print("The expiration date is " + str(self.expiry_month) + \
              '/' + str(self.expiry_year))
        
food_2 = Food("Bread", 2019, 20)
food_2.expiry_date()

Initialized instance variables.
The expiration date is 12/2019

In [56]:
print(food_2.name) 
print(food_2.expiry_month)

Bread
12

In [57]:
def summ(start, last, step = 1) :
  sum = 0
  for i in range(start, last, step) :
    sum += i
  return sum 


print(summ(1, 11, 2))
print(summ(1, 101))

25
5050

In [58]:
# 부모클래스와 자식클래스가 빠졌대
# 바로 inherit할 수가 있음.

### * 파일 만들기, 수정하기, 읽기

In [59]:
text = open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", 'w')
text.close()

In [60]:
# file 형성하기
text = open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", 'w')
for i in range(10) :
  data = ('Player%d.\n' % i)
  text.write(data)
text.close()

In [61]:
text = open("C:\soycoding\aa.txt", 'w')
for i in range(10) :
  data = ('Player%d.\n' % i)
  text.write(data)
text.close()

In [62]:
text = open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", "r")
line = text.readline()  # 한줄만 읽음
print(line)
text.close()

Player0.

In [63]:
text = open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", "r")
data = text.read() # 전체를 읽음 
print(data)
text.close()

Player0.
Player1.
Player2.
Player3.
Player4.
Player5.
Player6.
Player7.
Player8.
Player9.

In [64]:
# 기존 파일에 추가
text = open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", "a")  # a: adding
for i in range(10, 12): 
  data = ("Player%d.\n" %i)
  text.write(data)
text.close()

In [65]:
# with를 쓰면 close 안 써도 됨
with open("G:\내 드라이브\graduate\2020_2\ML(STAT617)\aa.txt", "a") as text :
  for i in range(12, 16) :
    data = ("Writer%d.\n" %i)
    text.write(data)